@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html {
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  body {
    max-width: 100%;
    margin: 0;
  }
}

a {
  text-decoration: none;
}

.navbar-right-links:hover,
.navbar-right-login:hover {
  color: #3b3054;
}

@media only screen and (max-width: 800px) {
  .navbar-right-links:hover,
  .navbar-right-login:hover {
    color: #fefefe;
  }
}

.navbar-right-btn:hover,
.section1-left-btn:hover,
#form-btn:hover,
.section4-btn:hover {
  background-color: #32eaea;
}

.footer-columns-sublinks:hover,
.fab:hover {
  color: #2acfcf;
}

#error {
  color: #f46262;
  font-size: 0.7rem;
  position: absolute;
  display: none;
  right: 78%;
  top: 70%;
}

@media only screen and (max-width: 800px) {
  #error {
    top: 35%;
    right: 43%;
    width: 50%;
  }
}

.navbar-right.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .output {
    height: 87% !important;
    padding: 1.5% 1.5% 4%  1.5% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

@media only screen and (max-width: 800px) {
  .output-box {
    border-bottom: 1px solid #9e9aa7 !important;
    padding-bottom: 3%;
  }
}

@media only screen and (max-width: 800px) {
  .output-box,
  .short-url {
    width: 98% !important;
    margin: 2% 0;
    padding-left: 2%;
    font-size: 1.1rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .copy-btn {
    margin-top: 2%;
    width: 100% !important;
    height: 3rem !important;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2.5% 0.5%  0;
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 4% 0 0 0;
    width: 100%;
    display: block;
  }
}

.navbar-right-links,
.navbar-right-login {
  color: #9e9aa7;
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .navbar-right-links,
  .navbar-right-login {
    position: relative;
    color: #fefefe;
  }
}

.navbar-left {
  padding-left: 3%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .navbar-left {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
}

.navbar-right-links {
  padding-left: 7%;
}

@media only screen and (max-width: 800px) {
  .navbar-right-links {
    padding: 5% 0 1% 0;
  }
}

.navbar-right-login {
  margin-left: 20%;
}

@media only screen and (max-width: 800px) {
  .navbar-right-login {
    padding-top: 5%;
    border-top: 1px solid #fefefe;
    width: 90%;
    text-align: center;
    margin-left: 0;
  }
}

.navbar-right {
  width: 190%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 4%;
}

@media only screen and (max-width: 800px) {
  .navbar-right {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 7% 0;
    margin: 3% 0 0 7.5%;
    position: absolute;
    width: 85%;
    height: 15rem;
    background-color: #3b3054;
    border-radius: 9px;
  }
}

.navbar-right-btn {
  margin-left: 7%;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  height: 2.2rem;
  width: 18%;
  padding: 0.5%;
  color: #ffffff;
  background-color: #2acfcf;
}

@media only screen and (max-width: 800px) {
  .navbar-right-btn {
    position: relative;
    width: 75%;
    text-align: center;
    margin-top: 5%;
    margin-left: 3%;
  }
}

.section1 {
  padding: 4% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .section1 {
    padding-top: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section1-left {
  width: 65%;
}

@media only screen and (max-width: 800px) {
  .section1-left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.section1-left-h1 {
  font-size: 3.5rem;
  color: #3b3054;
  padding: 1% 0 0 16%;
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .section1-left-h1 {
    font-size: 1.8rem;
    padding-left: 10%;
    width: 85%;
    text-align: center;
  }
}

.section1-left-p {
  font-size: 1.2rem;
  padding: 0 0 0 16%;
  margin-top: 0;
  color: #9e9aa7;
}

@media only screen and (max-width: 800px) {
  .section1-left-p {
    font-size: 0.9rem;
    padding: 0 3%;
    margin-top: 5%;
    text-align: center;
  }
}

.section1-left-btn {
  border: none;
  width: 27%;
  height: 3.3rem;
  background-color: #2acfcf;
  border-radius: 27px;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  margin-left: 18%;
}

@media only screen and (max-width: 800px) {
  .section1-left-btn {
    width: 55%;
    height: 3rem;
    margin: 5% 0 0 22%;
  }
}

.section1-right {
  overflow: hidden;
  padding-left: 5%;
}

@media only screen and (max-width: 800px) {
  .section1-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
  }
}

@media only screen and (max-width: 800px) {
  .section1-right-img {
    width: 140%;
    height: auto;
    overflow: hidden;
    padding-left: 3%;
  }
}

#form {
  position: absolute;
  background-color: #3b3054;
  background-image: url(../images/bg-shorten-desktop.svg);
  background-size: cover;
  border-radius: 9px;
  width: 75%;
  height: 8rem;
  margin: 3% 0 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  #form {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 5%;
  }
}

#form-text {
  width: 60%;
  height: 2.7rem;
  border-radius: 9px;
  margin-right: 3%;
  border: none;
}

@media only screen and (max-width: 800px) {
  #form-text {
    width: 90%;
    height: 2.4rem;
    margin: 0;
  }
}

#form-text::-webkit-input-placeholder {
  padding-left: 5%;
  font-size: 1rem;
  color: #bfbfbf;
}

#form-text:-ms-input-placeholder {
  padding-left: 5%;
  font-size: 1rem;
  color: #bfbfbf;
}

#form-text::-ms-input-placeholder {
  padding-left: 5%;
  font-size: 1rem;
  color: #bfbfbf;
}

#form-text::placeholder {
  padding-left: 5%;
  font-size: 1rem;
  color: #bfbfbf;
}

#form-btn {
  width: 15%;
  height: 3rem;
  font-size: 1rem;
  background-color: #2acfcf;
  color: #ffffff;
  border-radius: 9px;
  border: none;
}

@media only screen and (max-width: 800px) {
  #form-btn {
    width: 90%;
    height: 2.4rem;
    margin-top: 8%;
  }
}

.section3 {
  background-color: #f6f6f6;
  padding-top: 15%;
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .section3 {
    margin-top: 20%;
  }
}

.section3-h2 {
  font-size: 2rem;
  color: #3b3054;
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .section3-h2 {
    font-size: 1.5rem;
    padding-top: 12%;
  }
}

.section3-p {
  color: #9e9aa7;
  font-size: 1rem;
  text-align: center;
  width: 40%;
  line-height: 1.6rem;
}

@media only screen and (max-width: 800px) {
  .section3-p {
    font-size: 0.9rem;
    width: 100%;
    padding-top: 5%;
  }
}

.section3-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20%;
  width: 100%;
  height: 20rem;
}

@media only screen and (max-width: 800px) {
  .section3-blocks {
    padding-bottom: 15%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section3-block1,
.section3-block2,
.section3-block3 {
  width: 30%;
  height: 14rem;
  background-color: #ffffff;
  border-radius: 9px;
  border-bottom: 2px solid #2acfcf;
}

@media only screen and (max-width: 800px) {
  .section3-block1,
  .section3-block2,
  .section3-block3 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 8%;
  }
}

.section3-block1 {
  position: absolute;
  left: 2.5%;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .section3-block1 {
    position: relative;
    left: auto;
  }
}

.section3-icon1 {
  position: absolute;
  background-color: #3b3054;
  height: auto;
  width: 11%;
  padding: 3%;
  border-radius: 50%;
  top: -17%;
  left: 8%;
}

@media only screen and (max-width: 800px) {
  .section3-icon1 {
    position: relative;
    top: auto;
    left: auto;
    width: 15%;
  }
}

.section3-block3 {
  position: absolute;
  left: 67%;
  top: 217%;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .section3-block3 {
    position: relative;
    left: auto;
    top: auto;
  }
}

.section3-icon3 {
  position: absolute;
  background-color: #3b3054;
  height: auto;
  width: 14%;
  padding: 3%;
  border-radius: 50%;
  top: -21%;
  left: 15%;
}

@media only screen and (max-width: 800px) {
  .section3-icon3 {
    position: relative;
    left: auto;
    top: auto;
  }
}

.section3-block2 {
  position: absolute;
  top: 200%;
  padding: 0;
  left: 34.5%;
}

@media only screen and (max-width: 800px) {
  .section3-block2 {
    position: relative;
    top: auto;
    left: auto;
  }
}

.section3-icon2 {
  position: absolute;
  background-color: #3b3054;
  height: auto;
  width: 12%;
  padding: 3%;
  border-radius: 50%;
  top: -19%;
  left: 10%;
}

@media only screen and (max-width: 800px) {
  .section3-icon2 {
    position: relative;
    left: auto;
    top: auto;
  }
}

.section3-block1-h3,
.section3-block2-h3,
.section3-block3-h3 {
  color: #3b3054;
  font-weight: 700;
  padding-left: 8%;
}

@media only screen and (max-width: 800px) {
  .section3-block1-h3,
  .section3-block2-h3,
  .section3-block3-h3 {
    padding: 0;
    margin-top: 0;
    width: 100%;
  }
}

.section3-block1-p,
.section3-block2-p,
.section3-block3-p {
  color: #9e9aa7;
  font-size: 0.9rem;
  padding: 0 11% 0 8%;
}

@media only screen and (max-width: 800px) {
  .section3-block1-p,
  .section3-block2-p,
  .section3-block3-p {
    padding: 0 5%;
  }
}

.section3-block3,
.section3-block2 {
  height: 14rem;
}

@media only screen and (max-width: 800px) {
  .section3-block3,
  .section3-block2 {
    height: auto;
  }
}

.section4 {
  text-align: center;
  background-color: #3b3054;
  background-image: url(../images/bg-boost-desktop.svg);
  background-size: cover;
  padding: 3% 0;
}

@media only screen and (max-width: 800px) {
  .section4 {
    padding: 5% 0 15% 0;
  }
}

.section4-h2 {
  color: #ffffff;
  font-size: 2rem;
}

@media only screen and (max-width: 800px) {
  .section4-h2 {
    width: 100%;
    font-size: 1.4rem;
  }
}

.section4-btn {
  border: none;
  width: 20%;
  height: 3.3rem;
  background-color: #2acfcf;
  border-radius: 27px;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}

@media only screen and (max-width: 800px) {
  .section4-btn {
    width: 70%;
    height: 3rem;
  }
}

footer {
  background-color: #232127;
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5% 5% 10% 5%;
  }
}

.footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 8%;
  font-size: 0.9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .footer-columns {
    margin: 0;
  }
}

.footer-columns-links {
  color: #ffffff;
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .footer-columns-links {
    padding: 20% 0 10% 0;
  }
}

.footer-columns-sublinks {
  color: #9e9aa7;
  padding-top: 4%;
}

.column3 {
  margin-top: 2%;
}

@media only screen and (max-width: 800px) {
  .column3 {
    margin: 0;
  }
}

.footer-social-media {
  width: 15%;
  position: absolute;
  margin: 0 3% 0 0;
  right: 0;
  top: 340%;
}

@media only screen and (max-width: 800px) {
  .footer-social-media {
    position: relative;
    margin: 10% 0 0 30%;
    right: auto;
    top: auto;
    width: 100%;
  }
}

.white-logo {
  position: absolute;
  left: 0;
  top: 340%;
  margin: 0 0 0 5%;
}

@media only screen and (max-width: 800px) {
  .white-logo {
    left: auto;
    top: auto;
    position: relative;
  }
}

.fas {
  font-size: 1.5rem;
  color: #9e9aa7;
}

@media only screen and (min-width: 801px) {
  .fas {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .logo {
    margin: 0 25% 0 0;
    padding: 0;
    width: 40%;
    height: auto;
  }
}

.fab {
  color: #ffffff;
  font-size: 1.5rem;
  padding-right: 10%;
}
/*# sourceMappingURL=layout.css.map */